  @import "tailwindcss";
   @import "tailwindcss/utilities";
   

body{
  background: url(../bacgr.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* background: linear-gradient(rgba(0,0,0,2),rgba(0,0,0,2)),url(../background.jpg);


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(../bacgr.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 */
